<wide-header-page title="{{ mainTitle }}" [hasSlideButton]="!hideSlideButton && isCordova">
  <div page-content>
    
    <ion-list *ngIf="message" class="bp-list">
      <ion-item class="sub-title">
        <ion-label>
          <div class="main-label" translate>SUMMARY</div>
        </ion-label>
      </ion-item>

      <ion-item>        
        <ion-label>
          <div class="summary-item">
            <span translate>Expiry</span>
          </div>
        </ion-label>

        <ion-note item-end>
          <div class="summary-item-detail" copy-to-clipboard="{{ message.expiry }}">
              <span *ngIf="message.expiry">{{ message.expiry }} {{ message?.expired() }}</span>
          </div>
        </ion-note>
      </ion-item>

      <ion-item>        
        <ion-label>
          <div class="summary-item">
            <span translate>Callback URL</span>
          </div>
        </ion-label>

        <ion-note item-end>
          <div class="summary-item-detail" copy-to-clipboard="{{ message.callbackUrl }}">
              <span *ngIf="message.url">{{ message.callbackUrl }}</span>
          </div>
        </ion-note>
      </ion-item>

      <ion-item>        
        <ion-label>
          <div class="summary-item">
            <span translate>Message to sign</span>
          </div>
        </ion-label>

        <ion-note item-end>
          <div class="summary-item-detail" copy-to-clipboard="{{ message.messageToSign }}">
              <span *ngIf="message.url">{{ message.messageToSign }}</span>
          </div>
        </ion-note>
      </ion-item>

      <ion-item>        
        <ion-label>
          <div class="summary-item">
            <span translate>Signing address</span>
          </div>
        </ion-label>

        <ion-note item-end>
          <div class="summary-item-detail" copy-to-clipboard="{{ signingAddress }}">
              <span *ngIf="signingAddress">{{ signingAddress }}</span>
          </div>
        </ion-note>
      </ion-item>

      <div class="line-divider"></div>

    </ion-list>
  </div>

  <div footer-content>
    <!-- <page-slide-to-accept #slideButton *ngIf="isCordova" [ngClass]="{'slide-confirm-fast slide-confirm-down': hideSlideButton, 'slide-confirm-slow': !hideSlideButton}" [disabled]="(!wallet && !coinbaseAccount) || (wallet && !tx?.txp[wallet.id]) || paymentExpired" [buttonText]="buttonText" [isDogecoin]="wallet && wallet.coin == 'doge'" (slideDone)="approve(tx, wallet)">
    </page-slide-to-accept> -->

    <ion-toolbar><!-- *ngIf="!isCordova && (wallet || coinbaseAccount)">-->
      <button ion-button full class="button-footer" (click)="signAndBroadcastLogin()" [disabled]="message?.expired()">Sign & Log In</button>
    </ion-toolbar>
  </div>
</wide-header-page>