<wide-header-page title="{{ mainTitle }}" [hasSlideButton]="!hideSlideButton && isCordova">
  <div page-content>
    
    <ion-list *ngIf="message" class="bp-list">
      <ion-item class="sub-title">
        <ion-label>
          <div class="main-label" translate>SUMMARY</div>
        </ion-label>
      </ion-item>

      <ion-item [style.background-color]="message?.expired() ? 'red' : 'auto'">        
        <ion-label stacked><span translate>Expiry</span> <ion-icon *ngIf="message?.expired()" name="warning"></ion-icon><span *ngIf="!knownHostname">Expired</span></ion-label>
        <ion-textarea copy-to-clipboard="{{ message.expiry }}" readonly=true [value]="message.expiry" style="overflow:hidden;resize:none;"></ion-textarea>
      </ion-item>

      <ion-item [style.background-color]="knownHostname? 'green' : 'red'" text-wrap>        
        <ion-label stacked><span translate>Callback URL</span> <ion-icon *ngIf="!knownHostname" name="warning"></ion-icon><span *ngIf="!knownHostname">Unknown host</span></ion-label>
        <ion-textarea disabled rows=3 copy-to-clipboard="{{ message.callbackUrl.href }}" readonly=true [value]="message.callbackUrl.href" style="height: 60px;"></ion-textarea>
      </ion-item>

      <ion-item>        
        <ion-label stacked><span translate>Message to sign</span></ion-label>
        <ion-textarea disabled rows=3 copy-to-clipboard="{{ message.messageToSign }}" type="text" readonly=true [value]="message.messageToSign" style="height: 60px;"></ion-textarea>
      </ion-item>

      <ion-item>        
        <ion-label stacked><span translate>Signing address</span></ion-label>
        <ion-textarea disabled rows=3 copy-to-clipboard="{{ signingAddress?.address }}" readonly=true [value]="signingAddress?.address" style="height: 60px;"></ion-textarea>
      </ion-item>

      <div class="line-divider"></div>

    </ion-list>
  </div>

  <div footer-content>    
    <ion-toolbar>
      <button ion-button full class="button-footer" (click)="signAndBroadcastLogin()" [disabled]="broadcasting">Sign & Callback</button>
    </ion-toolbar>
  </div>
</wide-header-page>