<wide-header-page title="{{'Scan Login Code'|translate}}">
  <div page-content>

    <form [formGroup]="loginUrlForm">
      <ion-item *ngIf="!hasScanner">
        <ion-label stacked>{{ 'Login URL' | translate }}</ion-label>
        <ion-input formControlName="url" type="text"></ion-input>
      </ion-item>
    </form>
    <ion-row *ngIf="hasScanner">
      <ion-col text-center>
          <ion-icon item-center class="scan-icon" (click)="openScanner()" style="width: 100%;">
            <img src="assets/img/scan-ico.svg" style="width: 100%;">
          </ion-icon>
      </ion-col>
    </ion-row>
  </div>
  <div footer-content *ngIf="hasScanner">
    <ion-toolbar>
      <button ion-button full class="button-footer" (click)="openScanner()">Open Scanner</button>
    </ion-toolbar>
  </div>
  <div footer-content *ngIf="!hasScanner">
    <ion-toolbar>
      <button ion-button full class="button-footer" (click)="confirm()">Confirm Login</button>
    </ion-toolbar>
  </div>
</wide-header-page>